body{
    background-color: #0f172a;
}
.heading
{
    text-align:center;
    color:rgb(72, 194, 228);
    font-size:60px;
}

footer {
  background-color: #111827;
  text-align: center;
  color: #38bdf8;
  font-size: larger;
}

footer a {
  color: #facc15;
}

.introScreen,.buttonContainer
{
    display: flex;
    justify-content:center;
    margin:100px;
}

.score,.result
{
    text-align:center;
}

.result
{
    color:rgb(72, 194, 228);
    font-size:35px;
}

.score
{
    color:rgb(248, 248, 58);
    font-size:25px;
}

.playButton,.game-buttons
{
    margin:20px;
    height:200px;
    width:200px;
    font-size:30px;
    border-radius:15px;
    border-style:solid;
    border-width:5px;
    border-color:rgb(72, 194, 228);
    cursor:pointer;
}

.introScreen
{
    margin:250px;
}

.gameScreen
{
    margin:125px;
}

.hidden
{
    display:none;
}

.playButton:hover,.game-buttons:hover
{
    background-color:rgb(72, 194, 228);
}